@tailwind base;
@tailwind components;
@tailwind utilities;



  @layer base {
   html {
    font-family: 'Mulish', system-ui, sans-serif;
  }
  }

  @layer components {
    .btn-primary {
     @apply text-white bg-primary-brown border border-primary-brown px-2 py-1 rounded-sm;
    }
    .form-control {
      @apply rounded-sm py-1 border-primary-brown ;
    }
    .root {
      >* {
          padding: 10px;
      }
  
      display: flex;
      flex-direction: column;
      height: 100vh;
  
      >main {
          flex: 1;
  
  
      }
    }
  }

  @layer utilities{
    .flex-column{
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }